.logout-label {
    float: right;
    background: #b64d49;
    width: 120px;
    border: 0;
    height: 45px;
    padding: 15px 0px 12px 50px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1px;
    position: relative;
    border-radius: 4px;
}

.logout-label:hover {
    background: #bf635f;
}

.logout-label:after {
    position: absolute;
    content: '\f2c0';
    font-family: Fontawesome;
    font-size: 18px;
    color: #fff;
    top: 11px;
    left: 18px;
    text-decoration: none;
}

.logout-label {
    color: #fff;
}

.logout-label:hover {
    color: #fff;
    text-decoration: none;
}

.logout-lavel:visited {
    text-decoration: none;
}

div.dropdown {
    color: #555;
    margin: 0px -22px 0 0;
    width: 143px;
    position: relative;
    height: 17px;
    text-align: left;
}

div.submenu {
    position: absolute;
    z-index: 100;
    width: 135px;
    display: none;
    margin-left: 30px;
    padding: 35px 0 5px;
    border-radius: 6px;
}

.dropdown li a {
    color: #555555;
    display: block;
    font-family: arial;
    font-weight: bold;
    padding: 6px 15px;
    cursor: pointer;
    text-decoration: none;
}

.dropdown li a:hover {
    background: #155FB0;
    color: #FFFFFF;
    text-decoration: none;
}

a.account {
    font-size: 11px;
    line-height: 16px;
    color: #555;
    position: absolute;
    z-index: 110;
    display: block;
    padding: 11px 0 0 20px;
    height: 28px;
    width: 121px;
    margin: -11px 0 0 -10px;
    text-decoration: none;
    background: url(images/arrow.png) 80px 32px no-repeat;
    <!-- WTF?! --> cursor: pointer;
}

.root {
    list-style: none;
    font-size: 11px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
    background: #fff;
    padding: 10px 0 10px 0;
    border-radius: 5px 5px 5px 5px;
    margin: 21px 0 0 0;
}

.root:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: #ffffff;
    position: absolute;
    color: #ffffff;
    top: 54px;
    left: 17px;
}

.profile-circle {
    margin-left: 20px;
    width: 51px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    border: 2px solid #eee;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    vertical-align: middle;
}

.data-table {
    border-collapse: separate;
    border-spacing: 20px 15px;
}