<!DOCTYPE html>
<html lang="ru-RU">

<head>

    <title> {% block title %}{% endblock %} </title>

    {% load filters %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex,follow" /> {% load static %}
    <link rel="stylesheet" id="login-with-ajax-css" href="/static/content/plugins/login-with-ajax/widget/widget.css?ver=3.1.7" type="text/css" media="all" />
    <link rel="stylesheet" id="wp-block-library-css" href="/static/includes/css/dist/block-library/style.min.css?ver=5.1.1" type="text/css" media="all" />
    <link rel="stylesheet" id="catch-infinite-scroll-css" href="/static/content/plugins/catch-infinite-scroll/public/css/catch-infinite-scroll-public.css?ver=1.3" type="text/css" media="all" />
    <link rel="stylesheet" id="wp-postratings-css" href="/static/content/plugins/wp-postratings/css/postratings-css.css?ver=1.86.2" type="text/css" media="all" />
    <link rel="stylesheet" id="tf-compiled-options-mobmenu-css" href="/static/content/uploads/dynamic-mobmenu.css?ver=5.1.1" type="text/css" media="all" />
    <link rel="stylesheet" id="cssmobmenu-icons-css" href="/static/content/plugins/mobile-menu/includes/css/mobmenu-icons.css?ver=5.1.1" type="text/css" media="all" />
    <link rel="stylesheet" id="bs-css" href="/static/content/themes/sharewood/css/bootstrap.min.css?ver=5.1.1" type="text/css" media="all" />
    <link rel="stylesheet" id="main-css" href="/static/content/themes/sharewood/style.css?ver=5.1.1" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/content/themes/sharewood/fonts/font-awesome/css/font-awesome.min.css" />
    <!-- Auth style -->
    <link rel="stylesheet" href="/static/includes/auth_style.css" />
    <link rel="stylesheet" id="tf-google-webfont-dosis-css" href="https://fonts.googleapis.com/css?family=Dosis%3Ainherit%2C400&#038;subset=latin%2Clatin-ext&#038;ver=5.1.1" type="text/css" media="all" />
    <link rel="stylesheet" id="tf-google-webfont-roboto-css" href="https://fonts.googleapis.com/css?family=Roboto%3A500%2C400&#038;subset=latin%2Clatin-ext&#038;ver=5.1.1" type="text/css" media="all" />
    <link rel="dns-prefetch" href="https://fonts.googleapis.com" />
    <link rel="dns-prefetch" href="https://s.w.org" />
    <link rel="https://api.w.org/" href="./json/" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="/static/includes/wlwmanifest.xml" />
    <script type="text/javascript" src='/static/includes/some_shit.js'></script>
    <script type="text/javascript" src="/static/includes/js/jquery/jquery.js?ver=1.12.4"></script>
    <script type="text/javascript" src="/static/includes/js/jquery/jquery-migrate.min.js?ver=1.4.1"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="/static/content/plugins/login-with-ajax/widget/login-with-ajax.js?ver=3.1.7"></script>
    <script type="text/javascript" src="/static/content/plugins/catch-infinite-scroll/public/js/catch-infinite-scroll-public.js?ver=1.3"></script>
    <script type="text/javascript" src="/static/content/plugins/mobile-menu/includes/js/mobmenu.js?ver=5.1.1"></script>
    <script>
        jQuery(function() {
            var a = new String;
            a = jQuery('.word').html();
            var b = a.indexOf(' ');
            if (b == -1) {
                b = a.length;
            }
            jQuery('.word').html('<span class="first_word">' + a.substring(-2, b) + '</span>' + a.substring(b, a.length));
        });
    </script>
</head>
<header>
    {% include "includes/header.html" %}
</header>

<section>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</section>

<footer>
    {% include "includes/footer.html" %}
</footer>

{% include "includes/search_form.html" %}

{% include "includes/mobmenu.html" %}

<link rel="stylesheet" id="ulogin-style-css" href="/static/content/plugins/ulogin/css/ulogin.css?ver=5.1.1" type="text/css" media="all" />
<script type="text/javascript" src="/static/content/plugins/wp-postratings/js/postratings-js.js?ver=1.86.2"></script>
<script type="text/javascript" src="/static/includes/js/wp-embed.min.js?ver=5.1.1"></script>
<script type="text/javascript" src="/static/content/themes/sharewood/js/bootstrap.min.js?ver=5.1.1"></script>
<script type="text/javascript" src="/static/content/themes/sharewood/js/main.js?ver=5.1.1"></script>
<script type="text/javascript" src="/static/includes/auth_script.js"></script>
</html>