<div class="mobmenu-overlay"></div>
<div class="mob-menu-header-holder mobmenu" data-open-icon="down-open" data-close-icon="up-open">
    <div class="mobmenul-container"><a href="#" class="mobmenu-left-bt"><i class="mob-icon-menu-2 mob-menu-icon"></i><i class="mob-icon-cancel-2 mob-cancel-button"></i></a></div>
    <div class="mobmenur-container"></div>
</div>
<div class="mob-menu-left-panel mobmenu  ">
    <a href="#" class="mobmenu-left-bt"><i class="mob-icon-cancel-2 mob-cancel-button"></i></a>
    <div class="mobmenu_content">
        <div class="menu-verhnee-menju-container">
            <ul id="mobmenuleft">
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-29"><a href="/info/" class="">О сайте</a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-34"><a href="http://#" class="">Форум</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-31"><a href="/regulations/" class="">Правила</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-33"><a href="/advertising/" class="">Реклама</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32"><a href="/rightholder/" class="">Правообладателям</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-27 current_page_item menu-item-30"><a href="/donations/" class="">Поддержать проект</a></li>
            </ul>
        </div>
    </div>
    <div class="mob-menu-left-bg-holder"></div>
</div>

<style id="dynamic-mobmenu-inline-css">
    @media only screen and (min-width:1020px) {
      }
      /* Our css Custom Options values */
      @media only screen and (max-width:1019px) {
        .mob-menu-slideout .mob-cancel-button {
            display: none;
        }
        .mobmenur-container i {
            color: #222;
        }
        .mobmenul-container i {
            color: #222;
        }
        .mobmenul-container img {
            max-height: 40px;
            float: left;
        }
        .mobmenur-container img {
            max-height: 40px;
            float: right;
        }
        #mobmenuleft li a,
        #mobmenuleft li a:visited {
            color: #222;
        }
        .mobmenu_content #mobmenuleft > li > a:hover {
            background-color: #a3d3e8;
        }
        .mobmenu_content #mobmenuright > li > a:hover {
            background-color: #a3d3e8;
        }
      /* 2nd Level Left Background Color on Hover */
        .mobmenu_content #mobmenuleft .sub-menu li:hover {
            background-color: #eff1f1;
        }
        /* 2nd Level Left Background Color on Hover */
        .mobmenu_content #mobmenuleft .sub-menu li:hover a {
            color: #222;
        }
        /* 2nd Level Right Background Color on Hover */
        .mobmenu_content #mobmenuright .sub-menu li:hover {
            background-color: #eff1f1;
        }
        /* 2nd Level Right Background Color on Hover */
        .mobmenu_content #mobmenuright .sub-menu li:hover a {
            color: #222;
        }
        .mob-cancel-button {
            font-size: 24px!important;
            z-index: 99999999;
        }
        .mob-menu-left-panel .mob-cancel-button {
            color: #000;
        }
        .mob-menu-right-panel .mob-cancel-button {
            color: #000;
        }
        .mob-menu-slideout-over .mobmenu_content {
            padding-top: 40px;
        }
        .mob-menu-left-bg-holder {
            opacity: 1;
            background-attachment: fixed;
            background-position: center top;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
        }
        .mobmenu_content #mobmenuleft .sub-menu a {
            color: #222;
        }
        .mobmenu_content #mobmenuright .sub-menu a {
            color: #222;
        }
        #mobmenuleft li a:hover {
            color: #fff;
        }
        #mobmenuright li a:hover {
            color: #fff;
        }
        .mobmenul-container {
            top: 5px;
            margin-left: 5px;
        }
        .mobmenur-container {
            top: 5px;
            margin-right: 5px;
        }
        /* 2nd Level Menu Items Padding */
        .mobmenu .sub-menu li a {
            padding-left: 50px;
        }
        /* 3rd Level Menu Items Padding */
        .mobmenu .sub-menu .sub-menu li a {
            padding-left: 75px;
        }
        /* 3rd Level Left Menu Items Background color*/
        .mobmenu_content #mobmenuleft .sub-menu .sub-menu li a {
            color: #222;
        }
        /* 3rd Level Left Menu Items Background color on Hover*/
        .mobmenu_content #mobmenuleft .sub-menu .sub-menu li a:hover {
            color: #222;
        }
        /* 3rd Level Left Menu Items Background color*/
        .mobmenu_content #mobmenuleft .sub-menu .sub-menu li {
            background-color: #eff1f1;
        }
        /* 3rd Level Left Menu Items Background color on Hover*/
        .mobmenu_content #mobmenuleft .sub-menu .sub-menu li:hover {
            background-color: #eff1f1;
        }
        /* 3rd Level Right Menu Items Background color*/
        .mobmenu_content #mobmenuright .sub-menu .sub-menu li a {
            color: #222;
        }
        /* 3rd Level Right Menu Items Background color*/
        .mobmenu_content #mobmenuright .sub-menu .sub-menu li {
            background-color: #eff1f1;
        }
        /* 3rd Level Right Menu Items Background color on Hover*/
        .mobmenu_content #mobmenuright .sub-menu .sub-menu li:hover {
            background-color: #eff1f1;
        }
        /* 3rd Level Right Menu Items Background color on Hover*/
        .mobmenu_content #mobmenuright .sub-menu .sub-menu li a:hover {
            color: #222;
        }
        .mob-menu-header-holder {
            background-color: transparent;
            height: 40px;
            width: 100%;
            font-weight: bold;
            position: fixed;
            top: 0;
            right: 0;
            z-index: 99998;
            color: #000;
            display: block;
        }
        .mob-menu-slideout .mob-menu-left-panel {
            background-color: #f9f9f9;
            width: 270px;
            -webkit-transform: translateX(-270px);
            -moz-transform: translateX(-270px);
            -ms-transform: translateX(-270px);
            -o-transform: translateX(-270px);
            transform: translateX(-270px);
        }
        /* Mobmenu Slide Over */
        .mobmenu-overlay {
            opacity: 0;
        }
        .mob-menu-slideout-top .mobmenu-overlay,
        .mob-menu-slideout .mob-menu-right-panel .mob-cancel-button,
        .mob-menu-slideout .mob-menu-left-panel .mob-cancel-button {
            display: none!important;
        }
        .show-nav-left .mobmenu-overlay,
        .show-nav-right .mobmenu-overlay {
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.78);
            z-index: 99999;
          left: 0;
            top: 0;
            opacity: 1;
            -webkit-transition: .5s ease;
            -moz-transition: .5s ease;
            -ms-transition: .5s ease;
            -o-transition: .5s ease;
            transition: .5s ease;
          cursor: pointer;
        }
        .mob-menu-slideout-over .mob-menu-left-panel {
            display: block!important;
            background-color: #f9f9f9;
            width: 270px;
            -webkit-transform: translateX(-270px);
            -moz-transform: translateX(-270px);
            -ms-transform: translateX(-270px);
            -o-transform: translateX(-270px);
            transform: translateX(-270px);
            -webkit-transition: -webkit-transform .5s;
            -moz-transition: -moz-transform .5s;
            -ms-transition: -ms-transform .5s;
            -o-transition: -o-transform .5s;
            transition: transform .5s;
        }
        .mob-menu-slideout-over.show-nav-left .mob-menu-left-panel {
            display: block!important;
            background-color: #f9f9f9;
            width: 270px;
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -o-transform: translateX(0);
            transform: translateX(0);
            -webkit-transition: -webkit-transform .5s;
            -moz-transition: -moz-transform .5s;
            -ms-transition: -ms-transform .5s;
            -o-transition: -o-transform .5s;
            transition: transform .5s;
        }
        /* Hides everything pushed outside of it */
        .mob-menu-slideout .mob-menu-left-panel,
        .mob-menu-slideout-over .mob-menu-left-panel {
            position: fixed;
            top: 0;
            height: 100%;
            z-index: 300000;
            overflow-y: auto;
            overflow-x: hidden;
            opacity: 1;
        }
        .headertext span {
            position: initial;
            line-height: 40px;
        }
        /* Mobile Menu Frontend CSS Style*/
        html,
        body {
            overflow-x: hidden;
        }
        /* Hides everything pushed outside of it */
        .mob-menu-slideout .mob-menu-left-panel {
            position: fixed;
            top: 0;
            height: 100%;
            z-index: 300000;
            overflow-y: auto;
            overflow-x: hidden;
            opacity: 1;
            -webkit-transition: -webkit-transform .5s;
            -moz-transition: -moz-transform .5s;
            -ms-transition: -ms-transform .5s;
            -o-transition: -o-transform .5s;
            transition: transform .5s;
        }
        .mob-menu-slideout.show-nav-left .mob-menu-left-panel {
            transition: transform .5s;
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -o-transform: translateX(0);
            transform: translateX(0);
        }
        @media screen and ( max-width: 782px) {
        }
        .widget img {
            max-width: 100%;
        }
        #mobmenuleft li > ul {
            display: none;
            left: 15px;
        }
        .mob-expand-submenu i {
            padding: 12px;
        }
        #mobmenuright li > ul {
            display: none;
            left: 15px;
        }
        .mobmenu_content {
            z-index: 1;
            height: 100%;
            overflow: auto;
        }
        .mobmenu_content li a {
            display: block;
            letter-spacing: 1px;
            padding: 10px 20px;
            text-decoration: none;
        }
        .mobmenu_content li {
            list-style: none;
        }
        .mobmenul-container {
            position: absolute;
        }
        .mobmenur-container {
            position: absolute;
            right: 0;
        }
        .leftmbottom h2 {
            font-weight: bold;
            background-color: transparent;
            color: inherit;
        }
        .show-nav-right .mobmenur-container img,
        .show-nav-left .mobmenul-container img,
        .mobmenu .mob-cancel-button,
        .show-nav-left .mobmenu .mob-menu-icon,
        .show-nav-right .mobmenu .mob-menu-icon,
        .mob-menu-slideout-over.show-nav-left .mobmenur-container,
        .mob-menu-slideout-over.show-nav-right .mobmenul-container {
            display: none;
        }
        .show-nav-left .mobmenu .mob-cancel-button,
        .mobmenu .mob-menu-icon,
        .show-nav-right .mobmenu .mob-cancel-button {
            display: block;
        }
        .mobmenul-container i {
            line-height: 30px;
            font-size: 30px;
            float: left;
        }
        .mobmenur-container i {
            line-height: 30px;
            font-size: 30px;
            float: right;
        }
        .mobmenu input[type="text"]:focus,
        .mobmenu input[type="email"]:focus,
        .mobmenu textarea:focus,
        .mobmenu input[type="tel"]:focus,
        .mobmenu input[type="number"]:focus {
            border-color: rgba(0, 0, 0, 0)!important;
        }
        .mob-expand-submenu i {
            padding: 12px;
            top: 10px;
            position: relative;
            font-weight: 600;
            cursor: pointer;
            font-size: 30px;
        }
      }
</style>

