{% load el_pagination_tags %} {% paginate comments %} {% for comment in comments %}
<li id="comment-7" class="comment byuser comment-author-prokta odd alt thread-odd thread-alt depth-1 media">
<div class="media-left"><img alt="prokta anal" src="https://secure.gravatar.com/avatar/cd6edfb6795d16fb722f547ddfb67f84?s=64&amp;d=mm&amp;r=g" srcset="https://secure.gravatar.com/avatar/cd6edfb6795d16fb722f547ddfb67f84?s=128&amp;d=mm&amp;r=g 2x" class="avatar avatar-64 photo media-object" width="64" height="64"></div>
<div class="media-body"><span class="meta media-heading">{{ comment.author }}
</span><span class="meta media-time">{{ comment.date }}
</span><p>{{ comment.text }}</p>
<div class="jqr2c_box"><a class="jqr2c_reply" href="javascript:jqr2c_reply('comment-7');">Ответить</a> <a class="jqr2c_quote" href="javascript:jqr2c_quote('comment-7');">Цитата</a></div></div>
</li>
{% endfor %} {% show_more %}