{% load el_pagination_tags %} {% load filters %} {% paginate comments %} {% for comment in comments %}
<li id="comment-{{ comment.id }}" class="comment byuser comment-author-prokta odd alt thread-odd thread-alt depth-1 media">
    <div class="media-left">
        <img alt="" src="{{ comment.author.profile.avatar }}" class="avatar avatar-64 photo media-object" width="64" height="64">
    </div>
    <div class="media-body">
        <span class="meta media-heading" id="comment-author{{ comment.id }}">{{ comment.author.username }}</span>
        <span class="meta media-time">{{ comment.date }}</span>
        <p id="comment{{comment.id}}">{{ comment.content }}</p>
        <div class="jqr2c_box">
            <a class="jqr2c_reply" href="#comment_field" id="{{ comment.id }}">
                <button type="submit" name="reply" value="True" class="btn-link">Ответить</button>
            </a>
            <a class="jqr2c_quote" href="#comment_field" id="{{ comment.id }}">
                <button type="submit" name="quote" value="{{ comment.content }}" class="btn-link">Цитата</button>
            </a>
        </div>
    </div>
</li>
{% endfor %} {% show_more %}