<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-2 col-lg-3">
            <div class="logo">
                <a href="/"> Share<span>wood</span> </a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-7 col-lg-7">
            <div class="menu">
                <ul id="top-nav-ul" class="nav navbar-nav top-menu">
                    <li id="menu-item-29" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-29">
                        <a href="/info/"> О сайте </a>
                    </li>
                    <li id="menu-item-34" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-34">
                        <a href="http://#"> Форум </a>
                    </li>
                    <li id="menu-item-31" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-31">
                        <a href="/regulations/"> Правила </a>
                    </li>
                    <li id="menu-item-33" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-33">
                        <a href="/advertising/"> Реклама </a>
                    </li>
                    <li id="menu-item-32" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32">
                        <a href="/rightholder/"> Правообладателям </a>
                    </li>
                    <li id="menu-item-30" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30">
                        <a href="/donations/"> Поддержать проект </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
            <div class="sform bform" data-toggle="modal" data-target="#myModal1">
                <!--<div class="sform" data-toggle="collapse" data-target="#block-form">-->
                <img src="/static/content/themes/sharewood/img/search%20(2).png" alt="magnifier">
            </div>
            <div class="lwa lwa-template-modal">
                {% if user.is_authenticated %}
                <!-- <a href="/logout" class="logout-label"> Выйти </a> -->
                {% if user.is_active %}
                <div style="position:absolute; margin-left: 135px; margin-top: 14px; color:green"> {{ user.get_username }} </div>
                {% else %}
                <div style="position:absolute; margin-left: 135px; margin-top: 6px; color:red; text-align: center"> {{ user.get_username }}
                    <br>
                    <p style="font-size: 10px">(не активный)</p>
                </div>
                {% endif %}
                <div class="dropdown" style="float:right">
                    <a href="#" class="account">
                        <img alt="" src="{{ user.profile.avatar }}" class="profile-circle" />
                    </a>
                    <div class="submenu" style="display: none; ">
                        <ul class="root">
                            <li>
                                <div style="font-size: 14px; margin-left: 13px"><b>Баланс:</b><br><i>{{ user.profile.balance }} RUB</i></div>
                            </li><br>
                            <li>
                                <a href="/user/{{user.get_username}}/cabinet">Личный кабинет</a>
                            </li>
                            <li>
                                <a href="/user/{{user.get_username}}/cabinet#list-pay-in">Пополнить счет</a>
                            </li>
                            <li>
                                <a href="/user/{{user.get_username}}/cabinet#list-buy-premium">Купить PREMIUM</a>
                            </li>
                            <li>
                                <a href="/user/{{user.get_username}}/cabinet#list-settings">Настройки</a>
                            </li>
                            <li>
                                <a href="/logout/">Выйти</a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% else %}
                <a href="./wp-login.php" class="lwa-links-modal"> Войти </a>
                <!-- WTF?! -->
                {% endif %}
                <div class="lwa-modal" id="auth" style="display:none;">
                    <form method="post">
                        <form name="lwa-form" class="lwa-form" method="post" id="login_form">
                            {% csrf_token %}
                            <span class="lwa-status"></span>
                            <div>
                                <div class="lwa-username">
                                    <div class="username_label">
                                        <label>введите логин</label>
                                    </div>
                                    <div class="username_input">
                                        <div id="lwa_user_login" class="input">
                                            <input type="text" name="username" id="id_username" required autofocus>
                                        </div>
                                    </div>
                                </div>
                                <div class="lwa-password">
                                    <div class="password_label">
                                        <label>введите пароль</label>
                                    </div>
                                    <div class="password_input">
                                        <div id="lwa_user_pass" class="input" value="">
                                            <input type="password" name="password" id="id_password" required>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <p id="error-login" style="color:red" hidden>Введен неправильный логин или пароль</p>
                                <div class="lwa-submit">
                                    <div class="lwa-submit-button">
                                        <button type="button" name="wp-submit" id="login_button" class="lwa-wp-submit" value="выполнить вход" tabindex="100"> <strong>выполнить</strong> вход </button>
                                        <input type="hidden" name="lwa_profile_link" value="1" />
                                        <input type="hidden" name="login-with-ajax" value="login" />
                                    </div>
                                    <script type="text/javascript" src="/static/includes/reg_form.js"></script>
                                    <div>
                                    <p style="text-align: center;color:grey"> или войдите с помощью </p>
                                    </div>
                                    <div class="ulogin_block" style="text-align: center">
                                        <a href="social/login/vk-oauth2"><img src="/static/includes/images/vk-login.png" style="width:50px; height:50px;" data-toggle="tooltip" title=""></a>
                                        <a href="social/login/twitter-oauth2"><img src="/static/includes/images/twitter-login.png" style="width:45px; height:45px; margin-right: 3px" data-toggle="tooltip" title=""></a>
                                        <a href="social/login/facebook-oauth2"><img src="/static/includes/images/facebook-login.png" style="width:45px; height:45px" data-toggle="tooltip" title=""></a>
                                    </div>
                                    <div class="lwa-links">
                                        <div class="links-f lf-l">
                                            <a class="lwa-links-remember" href="./wp-login.php?action=lostpassword" title="Забыли пароль?"> Забыли пароль? </a>
                                            <!-- WTF?! -->
                                        </div>
                                        <div class="links-f lf-r"> Нет аккаунта?
                                            <a href="./wp-login.php?action=register" class="lwa-links-register-inline"> <strong>Зарегистрировать</strong> </a>
                                            <!-- WTF?! -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <br>
                        <form name="lwa-remember" class="lwa-remember" id="remember-form" method="post" style="display:none;">
                            <!-- WTF?! -->
                            {% csrf_token %}
                            <div>
                                <div>
                                    <div>
                                        <strong>Восстановление пароля</strong>
                                        <br>
                                    </div>
                                </div>
                                <div class="lwa-remember-email">
                                    <div>
                                        <input type="text" name="user_login" id="lwa_user_remember" placeholder="Введите имя пользователя или email" required />
                                        <!-- need label -->
                                    </div>
                                </div>
                                <div>
                                    <br>
                                    <div id="remember-errors" style="color:red"></div>
                                    <div>
                                        <input id="remember-button" type="submit" value="Восстановить пароль" />
                                        <a href="#" class="lwa-links-remember-cancel"> Отмена </a>
                                        <input type="hidden" name="login-with-ajax" value="remember" />
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="lwa-register" style="display:none;">
                            <form name="lwa-register" id="registration-form" action="/register/" method="post">
                                {% csrf_token %}
                                <br>
                                <br>
                                <div>
                                    <div>
                                        <div>
                                            <strong>Зарегистрироваться</strong>
                                        </div>
                                    </div>
                                    <div class="lwa-username">
                                        <div>
                                            <label>Введите логин:</label>
                                            <input type="text" name="username" autofocus required maxlength="20" id="id_username">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="lwa-email">
                                        <div>
                                            <label>Введите E-mail:</label>
                                            <input type="email" name="email" required maxlength="254" id="id_email">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="lwa-email">
                                        <div>
                                            <label>Введите пароль:</label>
                                            <input type="password" name="password1" required id="id_password1">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="lwa-email">
                                        <div>
                                            <label>Введите пароль еще раз:</label>
                                            <input type="password" name="password2" required id="id_password2">
                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                            <br>
                                            <div id="errors" style="color:red"></div>
                                            <input type="submit" id="reg-submit" value="Регистрация" tabindex="100" />
                                            <a href="#" class="lwa-links-register-inline-cancel"> Отмена </a>
                                            <input type="hidden" name="login-with-ajax" value="register" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>