{% extends "main_template.html" %} {% block title %}Sharewood{% endblock %} {% block content %}

<div class="row" style="padding: 15px;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 border-top no-gutters post-top-overlay post-block-top" style="margin: 0; background: url('/static/content/uploads/2019/03/4fd24c81a2d24e9dedf0a.jpg') no-repeat; background-size: 100%; background-position: top center; object-fit: cover; object-position: top; height: 380px;width: 100%;">
        <div class="meta-block"> 19 марта </div>
        <div class="post-wrap">
            <div class="post-wrap-h2">
                <h2><a href="/irina-marjasova-dushevnyj-storitelling-tarif-samostojatelnyj-2019/"> <span class="word">[Ирина Марьясова] Душевный сторителлинг. Тариф Самостоятельный (2019)</span> </a></h2>
                <!-- WTF?! -->
            </div>
            <div class="excerpt clip"></div>
            <div class="meta-block"></div>
            <a href="/irina-marjasova-dushevnyj-storitelling-tarif-samostojatelnyj-2019/">
                <div class="btn btn-more"><strong>Читать</strong> полностью</div>
            </a>
            <!-- WTF?! -->
        </div>
    </div>
</div>
<div class="triangle">
    <div class="row" style="padding: 15px;margin-top: -30px;">
        <div id="post-1025" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 post-middle post-middle-overlay no-gutters">
            <div class="post-middle-img grid1">
                <figure class="effect-duke">
                    <img width="2542" height="1010" src="/static/content/uploads/2019/03/4fd24c81a2d24e9dedf0a.jpg" class="img-responsive cropped-middle-post wp-post-image" alt="" srcset="/static/content/uploads/2019/03/4fd24c81a2d24e9dedf0a.jpg 2542w, /static/content/uploads/2019/03/4fd24c81a2d24e9dedf0a-300x119.jpg 300w, /static/content/uploads/2019/03/4fd24c81a2d24e9dedf0a-768x305.jpg 768w, /static/content/uploads/2019/03/4fd24c81a2d24e9dedf0a-1024x407.jpg 1024w, /static/content/uploads/2019/03/4fd24c81a2d24e9dedf0a-250x99.jpg 250w" sizes="(max-width: 2542px) 100vw, 2542px" />
                    <div class="post-middle-wrap">
                        <div class="post-wrap-h2">
                            <h2><a href="./irina-marjasova-dushevnyj-storitelling-tarif-samostojatelnyj-2019/"> [Ирина Марьясова] Душевный сторителлинг. Тариф Самостоятельный (2019) </a></h2></div>
                        <!-- WTF?! -->
                        <div class="meta-block">19 марта</div>
                    </div>
                    <figcaption>
                        <a href="./irina-marjasova-dushevnyj-storitelling-tarif-samostojatelnyj-2019/"></a>
                        <!-- WTF?! -->
                    </figcaption>
                </figure>
            </div>
        </div>
        <div id="post-1019" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 post-middle post-middle-overlay no-gutters">
            <div class="post-middle-img grid1">
                <figure class="effect-duke">
                    <img width="825" height="388" src="/static/content/uploads/2019/03/15.jpg" class="img-responsive cropped-middle-post wp-post-image" alt="" srcset="/static/content/uploads/2019/03/15.jpg 825w, /static/content/uploads/2019/03/15-300x141.jpg 300w, /static/content/uploads/2019/03/15-768x361.jpg 768w, /static/content/uploads/2019/03/15-250x118.jpg 250w" sizes="(max-width: 825px) 100vw, 825px" />
                    <div class="post-middle-wrap">
                        <div class="post-wrap-h2">
                            <h2><a href="./finarium-sozdanie-investicionnogo-portfelja-2019/">[ФИНАРИУМ] Создание инвестиционного портфеля (2019)</a></h2></div>
                        <div class="meta-block">19 марта</div>
                    </div>
                    <figcaption>
                        <a href="./finarium-sozdanie-investicionnogo-portfelja-2019/"></a>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div id="post-404" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 post-middle post-middle-overlay no-gutters">
            <div class="post-middle-img grid1">
                <figure class="effect-duke">
                    <img width="1366" height="768" src="/static/content/uploads/2019/02/look.com_.ua-255555.jpg" class="img-responsive cropped-middle-post wp-post-image" alt="" srcset="/static/content/uploads/2019/02/look.com_.ua-255555.jpg 1366w, /static/content/uploads/2019/02/look.com_.ua-255555-300x169.jpg 300w, /static/content/uploads/2019/02/look.com_.ua-255555-768x432.jpg 768w, /static/content/uploads/2019/02/look.com_.ua-255555-1024x576.jpg 1024w, /static/content/uploads/2019/02/look.com_.ua-255555-250x141.jpg 250w" sizes="(max-width: 1366px) 100vw, 1366px" />
                    <div class="post-middle-wrap">
                        <div class="post-wrap-h2">
                            <h2><a href="./zapis-sajta-pod-nomerom-9/">Запись сайта под номером 9</a></h2> </div>
                        <div class="meta-block">15 марта</div>
                    </div>
                    <figcaption>
                        <a href="./zapis-sajta-pod-nomerom-9/"></a>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 7px;">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 inf pr-5">
        {% include page_template %}
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="/static/el-pagination/js/el-pagination.js"></script>
        <script>
            $.endlessPaginate({
                paginateOnScroll: true,
                paginateOnScrollMargin: 5000,
                paginateOnScrollChunkSize: 20
            });
        </script>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="row" style="padding: 0 15px;">
            <div id="post-404" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 post-sidebar-top">
                <div class="rating"><span><span class="post-ratings__results">5.1</span><span class="eee">из 10</span></span>
                </div>
                <div class="post-wrap-h2">
                    <h2><a href="/zapis-sajta-pod-nomerom-9/">Запись сайта под номером 9</a></h2></div>
                <!-- WTF?! -->
                <div class="excerpt clip">
                    <p>Соображения высшего порядка, а также дальнейшее развитие различных форм деятельности позволяет выполнить важнейшие задания по&#8230;</p>
                </div>
            </div>
        </div>
        <div class="triangle2">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 post-green-sidebar post-sidebar-2 pr-0">
                    <article id="post-398" class="post-398 post type-post status-publish format-standard has-post-thumbnail hentry category-general tag-mashiny tag-ovoshhi tag-stomatolog tag-frukty">
                        <div class="row post-sidebar-cropped post-sidebar-overlay" style="margin: 0; background: url('/static/content/uploads/2019/02/5a89b01873bd3-1024x602.jpg')no-repeat;background-size: cover;">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="post-wrap-sidebar">
                                    <div class="rating"><span><span class="post-ratings__results">2.6</span></span>
                                    </div>
                                    <div class="post-wrap-h2">
                                        <h2><a href="./tekstovyj-zagolovok-zapisi-6/">Текстовый заголовок записи 6</a></h2></div>
                                    <!-- WTF?! -->
                                    <div class="excerpt clip">Соображения высшего порядка, а также дальнейшее развитие различных форм деятельности позволяет выполнить важнейшие задания по разработке новых предложений. Задача организации, в особенности же консультация с профессионалами из IT позволяет выполнить важнейшие задания по разработке</div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 post-green-sidebar post-sidebar-1 pl-0">
                    <article id="post-396" class="post-396 post type-post status-publish format-standard has-post-thumbnail hentry category-general tag-mashiny tag-ovoshhi tag-stomatolog tag-frukty">
                        <div class="row post-sidebar-cropped post-sidebar-overlay" style="margin: 0; background: #51b956;">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="post-wrap-sidebar">
                                    <div class="rating"><span><span class="post-ratings__results">2.4</span></span>
                                    </div>
                                    <div class="post-wrap-h2">
                                        <h2><a href="./zagolovok-tekstovyj-zagolovok-zapis/">Заголовок , текстовый заголовок записи 5</a></h2></div>
                                    <!-- WTF?! -->
                                    <div class="excerpt clip">
                                        <p>Соображения высшего порядка, а также дальнейшее развитие различных форм деятельности позволяет выполнить важнейшие задания по&#8230;</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 post-green-sidebar post-sidebar-2 pr-0">
                    <article id="post-35" class="post-35 post type-post status-publish format-standard has-post-thumbnail hentry category-general tag-mashiny tag-ovoshhi tag-stomatolog tag-frukty">
                        <div class="row post-sidebar-cropped post-sidebar-overlay" style="margin: 0; background: #51b956;">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="post-wrap-sidebar">
                                    <div class="rating"><span><span class="post-ratings__results">1.6</span></span>
                                    </div>
                                    <div class="post-wrap-h2">
                                        <h2><a href="./samye-udivitelnye-miry-nashej-vselen/">Самые удивительные миры нашей вселенной</a></h2></div>
                                    <!-- WTF?! -->
                                    <div class="excerpt clip">
                                        <p>В блоге Американка МагГи появилась запись, посвящённая новому проекту Alice: Asylum. Теперь можно сказать, что&#8230;</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 post-green-sidebar post-sidebar-1 pl-0">
                    <article id="post-162" class="post-162 post type-post status-publish format-standard has-post-thumbnail hentry category-general tag-mashiny tag-ovoshhi tag-stomatolog tag-frukty">
                        <div class="row post-sidebar-cropped post-sidebar-overlay" style="margin: 0; background: url('/static/content/uploads/2019/02/img-1024x700.jpeg')no-repeat;background-size: cover;">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="post-wrap-sidebar">
                                    <div class="rating"><span><span class="post-ratings__results">1.5</span></span>
                                    </div>
                                    <div class="post-wrap-h2">
                                        <h2><a href="./gejmer-vstroil-v-igre-jemuljatornuju-kon/">Геймер встроил в игре эмуляторную консоль и установил мировой рекорд</a></h2></div>
                                    <!-- WTF?! -->
                                    <div class="excerpt clip">
                                        <p>В блоге Американка МагГи появилась запись, посвящённая новому проекту Alice: Asylum. Теперь можно сказать, что&#8230;</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="social-sidebar">
            <div style="text-align:left;" id="__utl-buttons-1">
                <div class="social-groups uptl_container uptl_container-share uptlw-container uptl_container-horizontal uptlk_wdgt_VeqQA">
                    <div class="uptl_toolbar uptl_toolbar_simple __utl-reset uptl_toolbar_share">
                        <ul class="horizontal style-1 size-40 horizontal">
                            <li data-snid="tw" class="utl-icon-num-0 share-style-1 utl-icon-tw effect-0">
                                <a href="https://twitter.com/sharewoodbiz" target="_blank" data-snid="tw" class="sn-icon"></a>
                            </li>
                            <li data-snid="vk" class="utl-icon-num-1 share-style-1 utl-icon-vk effect-0">
                                <a href="https://vk.com/sharewood_biz" target="_blank" data-snid="vk" class="sn-icon"></a>
                            </li>
                            <li data-snid="fb" class="utl-icon-num-2 share-style-1 utl-icon-fb effect-0">
                                <a href="https://www.facebook.com/sharewood_biz" target="_blank" data-snid="fb" class="sn-icon"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-sidebar">
            <div class="title"><span>Связаться с администрацией</span> по электронной почте:</div>
            <div class="mail">sharewood@gmail.com</div>
        </div>
    </div>
</div>
{% endblock %}