{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

Введите новый пароль
<form>
    <input id="password1" type="password" />
    <input id="password2" type="password" />
    <button id="password-recovery-confirm">Confirm</button>
</form>

<script src="{% static 'includes/jquery-latest.js' %}"></script>
<script type="text/javascript">
    $('#password-recovery-confirm').click(function(e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/change-password/',
            data: {
                new_password1: $('#password1').val(),
                new_password2: $('#password2').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                activation_key: '{{ activation_key }}',
            },
            success: function (response) {
                // do something with response
                if (response['status'] === 'ok') {
                    {#window.location.href = 'http://localhost:8000/';#}
                }
            },
            error: function (response) {
                console.log(response);
            }
        })
    })
</script>


</body>
</html>