<div class="row" style="padding: 0 15px;">
    <div id="post-1" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 post-sidebar-top">
        <div class="rating"><span><span class="post-ratings__results">9,3 </span><span class="eee">из 10</span></span>
        </div>
        <div class="post-wrap-h2">
            <h2><a href="/r1">Python3 для чайников</a></h2></div>
        <div class="excerpt clip">
            <p><p>Курс посвящен базовым понятиям и элементам языка программирования Python (операторы, числовые и строковые переменные, списки, условия и циклы). Курс является вводным и наиболее подойдет слушателям, не имеющим опыта написания программ.</p></p>
        </div>
    </div>
</div>
<div class="triangle2">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 post-green-sidebar post-sidebar-2 pr-0">
            <article id="post-2" class="post-2 post type-post status-publish format-standard has-post-thumbnail hentry category-general tag">
                <div class="row post-sidebar-cropped post-sidebar-overlay" style="margin: 0; background: url(/media/record_src/matematika-b-2-1024x735.jpg)no-repeat; background-size: cover;">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="post-wrap-sidebar">
                            <div class="rating"><span><span class="post-ratings__results">8,8</span></span>
                            </div>
                            <div class="post-wrap-h2">
                                <h2><a href="/r2">Линейная алгебра</a></h2></div>
                            <div class="excerpt clip"><p>Данный курс представляет собой краткое изложение основ линейной алгебры. Основная его задача - напомнить базовые факты линейной алгебры, использующиеся в тех или иных разделах практического программирования.</p></div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 post-green-sidebar post-sidebar-1 pl-0">
            <article id="post-6" class="post-6 post type-post status-publish format-standard has-post-thumbnail hentry category-general tag">
                <div class="row post-sidebar-cropped post-sidebar-overlay" style="margin: 0; background: #51b956;">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="post-wrap-sidebar">
                            <div class="rating"><span><span class="post-ratings__results">8,6</span></span>
                            </div>
                            <div class="post-wrap-h2">
                                <h2><a href="/r6">Дискретные структуры</a></h2></div>
                            <div class="excerpt clip">
                                <p><p>Это базовый курс дискретной математики и комбинаторики. Он для всех, кто хочет развить математическую интуицию, помогающую в работе с дискретными объектами и алгоритмами на них.</p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 post-green-sidebar post-sidebar-2 pr-0">
            <article id="post-3" class="post-3 post type-post status-publish format-standard has-post-thumbnail hentry category-general tag">
                <div class="row post-sidebar-cropped post-sidebar-overlay" style="margin: 0; background: #51b956;">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="post-wrap-sidebar">
                            <div class="rating"><span><span class="post-ratings__results">7,2</span></span>
                            </div>
                            <div class="post-wrap-h2">
                                <h2><a href="/r3">Основы статистики</a></h2></div>
                            <div class="excerpt clip">
                                <p><p>Курс знакомит слушателей с основными понятиями и методами математической статистики. В течение трех недель мы рассмотрим наиболее широко используемые статистические методы и принципы, стоящие за ними.</p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 post-green-sidebar post-sidebar-1 pl-0">
            <article id="5" class="post-5 post type-post status-publish format-standard has-post-thumbnail hentry category-general tag">
                <div class="row post-sidebar-cropped post-sidebar-overlay" style="margin: 0; background: url(/media/record_src/network-1246209_1920.jpg)no-repeat; background-size: cover;">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="post-wrap-sidebar">
                            <div class="rating"><span><span class="post-ratings__results">7,2</span></span>
                            </div>
                            <div class="post-wrap-h2">
                                <h2><a href="/r5">Нейронные сети</a></h2></div>
                            <div class="excerpt clip">
                                <p><p>В рамках данного курса слушатели познакомятся с теоретическими и практическими основами искусственных нейронных сетей. Слушатели научатся применять нейронные сети для решения широкого круга задач из области анализа данных.</p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
