<div class="row" style="padding: 0 15px;">
    <div id="post-404" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 post-sidebar-top">
        <div class="rating"><span><span class="post-ratings__results">{{ popular_records.0.rating }} </span><span class="eee">из 10</span></span>
        </div>
        <div class="post-wrap-h2">
            <h2><a href="/r{{ popular_records.0.id }}">{{ popular_records.0.title }}</a></h2></div>
        <!-- WTF?! -->
        <div class="excerpt clip">
            <p>{{ popular_records.0.description }}</p>
        </div>
    </div>
</div>
<div class="triangle2">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 post-green-sidebar post-sidebar-2 pr-0">
            <article id="post-398" class="post-398 post type-post status-publish format-standard has-post-thumbnail hentry category-general tag-mashiny tag-ovoshhi tag-stomatolog tag-frukty">
                <div class="row post-sidebar-cropped post-sidebar-overlay" style="margin: 0; background: url('{{ popular_records.1.main_pic }}')no-repeat;background-size: cover;">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="post-wrap-sidebar">
                            <div class="rating"><span><span class="post-ratings__results">{{ popular_records.1.rating }}</span></span>
                            </div>
                            <div class="post-wrap-h2">
                                <h2><a href="/r{{ popular_records.1.id }}">{{ popular_records.1.title }}</a></h2></div>
                            <!-- WTF?! -->
                            <div class="excerpt clip">{{ popular_records.1.description }}</div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 post-green-sidebar post-sidebar-1 pl-0">
            <article id="post-396" class="post-396 post type-post status-publish format-standard has-post-thumbnail hentry category-general tag-mashiny tag-ovoshhi tag-stomatolog tag-frukty">
                <div class="row post-sidebar-cropped post-sidebar-overlay" style="margin: 0; background: #51b956;">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="post-wrap-sidebar">
                            <div class="rating"><span><span class="post-ratings__results">{{ popular_records.2.rating }}</span></span>
                            </div>
                            <div class="post-wrap-h2">
                                <h2><a href="/r{{ popular_records.2.id }}">{{ popular_records.2.title }}</a></h2></div>
                            <!-- WTF?! -->
                            <div class="excerpt clip">
                                <p>{{ popular_records.2.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 post-green-sidebar post-sidebar-2 pr-0">
            <article id="post-35" class="post-35 post type-post status-publish format-standard has-post-thumbnail hentry category-general tag-mashiny tag-ovoshhi tag-stomatolog tag-frukty">
                <div class="row post-sidebar-cropped post-sidebar-overlay" style="margin: 0; background: #51b956;">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="post-wrap-sidebar">
                            <div class="rating"><span><span class="post-ratings__results">{{ popular_records.3.rating }}</span></span>
                            </div>
                            <div class="post-wrap-h2">
                                <h2><a href="/r{{ popular_records.3.id }}">{{ popular_records.3.title }}</a></h2></div>
                            <!-- WTF?! -->
                            <div class="excerpt clip">
                                <p>{{ popular_records.3.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 post-green-sidebar post-sidebar-1 pl-0">
            <article id="post-162" class="post-162 post type-post status-publish format-standard has-post-thumbnail hentry category-general tag-mashiny tag-ovoshhi tag-stomatolog tag-frukty">
                <div class="row post-sidebar-cropped post-sidebar-overlay" style="margin: 0; background: url({{ popular_records.4.main_pic }})no-repeat;background-size: cover;">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="post-wrap-sidebar">
                            <div class="rating"><span><span class="post-ratings__results">{{ popular_records.4.rating }}</span></span>
                            </div>
                            <div class="post-wrap-h2">
                                <h2><a href="/r{{ popular_records.4.id }}">{{ popular_records.4.title }}</a></h2></div>
                            <!-- WTF?! -->
                            <div class="excerpt clip">
                                <p>{{ popular_records.4.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>