<div class="row" style="padding: 0 15px;">
    <div id="post-4" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 post-sidebar-top">
        <div class="rating"><span><span class="post-ratings__results">8.2 </span><span class="eee">из 10</span></span>
        </div>
        <div class="post-wrap-h2">
            <h2><a href="/r4">Linux Administration</a></h2></div>
        <div class="excerpt clip">
            <p>Linux  — семейство Unix-подобных операционных систем на базе ядра Linux, включающих тот или иной набор утилит и программ проекта GNU, и, возможно, другие компоненты</p>
        </div>
    </div>
</div>
<div class="triangle2">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 post-green-sidebar post-sidebar-2 pr-0">
            <article id="post-6" class="post-6 post type-post status-publish format-standard has-post-thumbnail hentry category-general tag">
                <div class="row post-sidebar-cropped post-sidebar-overlay" style="margin: 0; background: url(/media/record_src/eagle_C1oj7Sp.png)no-repeat;background-size: cover;">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="post-wrap-sidebar">
                            <div class="rating"><span><span class="post-ratings__results">8.0</span></span>
                            </div>
                            <div class="post-wrap-h2">
                                <h2><a href="/r6">Учим ценить природу</a></h2></div>
                            <div class="excerpt clip">Цените природу, друзья</div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 post-green-sidebar post-sidebar-1 pl-0">
            <article id="post-1" class="post-1 post type-post status-publish format-standard has-post-thumbnail hentry category-general tag">
                <div class="row post-sidebar-cropped post-sidebar-overlay" style="margin: 0; background: #51b956;">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="post-wrap-sidebar">
                            <div class="rating"><span><span class="post-ratings__results">5.0</span></span>
                            </div>
                            <div class="post-wrap-h2">
                                <h2><a href="/r1">Python 3</a></h2></div>
                            <div class="excerpt clip">
                                <p>Python — высокоуровневый язык программирования общего назначения, ориентированный на повышение производительности разработчика и читаемости кода. Синтаксис ядра Python минималистичен. В то же время стандартная библиотека включает большой объём полезных функций.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 post-green-sidebar post-sidebar-2 pr-0">
            <article id="post-2" class="post-2 post type-post status-publish format-standard has-post-thumbnail hentry category-general tag">
                <div class="row post-sidebar-cropped post-sidebar-overlay" style="margin: 0; background: #51b956;">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="post-wrap-sidebar">
                            <div class="rating"><span><span class="post-ratings__results">4.5</span></span>
                            </div>
                            <div class="post-wrap-h2">
                                <h2><a href="/r2">Название Записи</a></h2></div>
                            <div class="excerpt clip">
                                <p>Описание. Описание. Описание. Описание. Описание.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 post-green-sidebar post-sidebar-1 pl-0">
            <article id="post-3" class="post-3 post type-post status-publish format-standard has-post-thumbnail hentry category-general tag">
                <div class="row post-sidebar-cropped post-sidebar-overlay" style="margin: 0; background: url(/media/record_src/progger_main_pic.png)no-repeat;background-size: cover;">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="post-wrap-sidebar">
                            <div class="rating"><span><span class="post-ratings__results">4.5</span></span>
                            </div>
                            <div class="post-wrap-h2">
                                <h2><a href="/r3">Как стать программистом?</a></h2></div>
                            <div class="excerpt clip">
                                <p>Задавались ли вы вопросом, как стать программистом? Да? Велкам на наш курс (и да, мы будем вставлять везде английские словечки. Это же так кул)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
