<!DOCTYPE html>
<html lang="ru-RU">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/content/themes/lorewood/fonts/font-awesome/css/font-awesome.min.css">

    <title>Lorewood - {{ tag }}</title>
    <meta name='robots' content='noindex,follow' />
    <link rel='dns-prefetch' href='https://fonts.googleapis.com' />
    <link rel='dns-prefetch' href='https://s.w.org' />
    <link rel="alternate" type="application/rss+xml" title="Lorewood &raquo; Лента метки машины" href="/tag/{{ tag }}" />
    <script type="text/javascript" src="/static/includes/some_shit.js"></script>

    <link rel='stylesheet' id='login-with-ajax-css' href='/static/content/plugins/login-with-ajax/widget/widget.css?ver=3.1.7' type='text/css' media='all' />
    <link rel='stylesheet' id='wp-block-library-css' href='/static/includes/css/dist/block-library/style.min.css?ver=5.1.1' type='text/css' media='all' />
    <link rel='stylesheet' id='catch-infinite-scroll-css' href='/static/content/plugins/catch-infinite-scroll/public/css/catch-infinite-scroll-public.css?ver=1.3' type='text/css' media='all' />
    <link rel='stylesheet' id='wp-postratings-css' href='/static/content/plugins/wp-postratings/css/postratings-css.css?ver=1.86.2' type='text/css' media='all' />
    <link rel='stylesheet' id='tf-compiled-options-mobmenu-css' href='/static/content/uploads/dynamic-mobmenu.css?ver=5.1.1' type='text/css' media='all' />
    <link rel='stylesheet' id='tf-google-webfont-dosis-css' href='https://fonts.googleapis.com/css?family=Dosis%3Ainherit%2C400&#038;subset=latin%2Clatin-ext&#038;ver=5.1.1' type='text/css' media='all' />
    <link rel='stylesheet' id='tf-google-webfont-roboto-css' href='https://fonts.googleapis.com/css?family=Roboto%3A500%2C400&#038;subset=latin%2Clatin-ext&#038;ver=5.1.1' type='text/css' media='all' />
    <link rel='stylesheet' id='cssmobmenu-icons-css' href='/static/content/plugins/mobile-menu/includes/css/mobmenu-icons.css?ver=5.1.1' type='text/css' media='all' />
    <link rel='stylesheet' id='bs-css' href='/static/content/themes/lorewood/css/bootstrap.min.css?ver=5.1.1' type='text/css' media='all' />
    <link rel='stylesheet' id='main-css' href='/static/content/themes/lorewood/style.css?ver=5.1.1' type='text/css' media='all' />
    <!-- Auth style -->
    <link rel="stylesheet" href="/static/includes/auth_style.css" />
    <script type='text/javascript' src='/static/includes/js/jquery/jquery.js?ver=1.12.4'></script>
    <script type='text/javascript' src='/static/includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
    <script type='text/javascript' src='/static/content/plugins/login-with-ajax/widget/login-with-ajax.js?ver=3.1.7'></script>
    <script type='text/javascript' src='/static/content/plugins/catch-infinite-scroll/public/js/catch-infinite-scroll-public.js?ver=1.3'></script>
    <script type='text/javascript' src='/static/content/plugins/mobile-menu/includes/js/mobmenu.js?ver=5.1.1'></script>
    <style type="text/css">
    .recentcomments a {
        display: inline !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    </style>
</head>

<body class="archive tag tag-mashiny tag-8 mob-menu-slideout-over">

    <header>{% include "includes/header.html" %}</header>

    <section>
        <div class="container">
            <div class="row">

                <h1><span>Посты с меткой </span>{{ tag }}</h1>
                <div class="col-xs-12 col-md-8 inf">

                {% include page_template %}
                <script src="http://code.jquery.com/jquery-latest.js"></script>
                <script src="/static/el-pagination/js/el-pagination.js"></script>
                <script>
                    $.endlessPaginate({
                        paginateOnScroll: true,
                        paginateOnScrollMargin: 5000,
                        paginateOnScrollChunkSize: 20
                    });
                </script>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    {% include 'popular_records.html' %}

                    <div class="social-sidebar">
                        <div style="text-align:left;" id="__utl-buttons-1">
                            <div class="social-groups uptl_container uptl_container-share uptlw-container uptl_container-horizontal uptlk_wdgt_VeqQA">
                                <div class="uptl_toolbar uptl_toolbar_simple __utl-reset uptl_toolbar_share">
                                    <ul class="horizontal style-1 size-40 horizontal">
                                        <li data-snid="tw" class="utl-icon-num-0 share-style-1 utl-icon-tw effect-0">
                                            <a href="https://twitter.com/lorewoodbiz" target="_blank" data-snid="tw" class="sn-icon"></a>
                                        </li>
                                        <li data-snid="vk" class="utl-icon-num-1 share-style-1 utl-icon-vk effect-0">
                                            <a href="https://vk.com/lorewood_biz" target="_blank" data-snid="vk" class="sn-icon"></a>
                                        </li>
                                        <li data-snid="fb" class="utl-icon-num-2 share-style-1 utl-icon-fb effect-0">
                                            <a href="https://www.facebook.com/lorewood_biz" target="_blank" data-snid="fb" class="sn-icon"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="contact-sidebar">

                        <div class="title"><span>Связаться с администрацией</span> по электронной почте:</div>
                        <div class="mail">lorewood@gmail.com</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <footer>
        {% include "includes/footer.html" %}
    </footer>

    {% include "includes/search_form.html" %}

    {% include "includes/mobmenu.html" %}
    
    <link rel='stylesheet' id='ulogin-style-css' href='/static/content/plugins/ulogin/css/ulogin.css?ver=5.1.1' type='text/css' media='all' />
    <script type='text/javascript' src='/static/content/plugins/wp-postratings/js/postratings-js.js?ver=1.86.2'></script>
    <script type='text/javascript' src='/static/includes/js/wp-embed.min.js?ver=5.1.1'></script>
    <script type='text/javascript' src='/static/content/themes/lorewood/js/bootstrap.min.js?ver=5.1.1'></script>
    <script type='text/javascript' src='/static/content/themes/lorewood/js/main.js?ver=5.1.1'></script>
    <script type="text/javascript" src="/static/includes/auth_script.js"></script>
</body>

</html>