{% extends "includes/main_template.html" %}

{% block title %}Личный кабинет {{ user.get_username }}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-xs-12 col-md-12">
        <article id="post-20" class="post-20 page type-page status-publish hentry">
            <div class="row">
                <table>
                    <tr>
                        <td valign="top">
                            <div class="col-4">
                                <div class="list-group" id="list-tab" role="tablist" style="width: 250px; padding-right: 40px">
                                    <a class="list-group-item list-group-item-action active" id="list-personal-data-list" data-toggle="list" href="#list-personal-data" role="tab" aria-controls="personal-data">Личные данные</a>

                                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Настройки</a>

                                    <a class="list-group-item list-group-item-action" id="list-pay-in-list" data-toggle="list" href="#list-pay-in" role="tab" aria-controls="pay-in">Пополнить счет</a>

                                    <a class="list-group-item list-group-item-action" id="list-buy-premium-list" data-toggle="list" href="#list-buy-premium" role="tab" aria-controls="buy-premium">Купить ПРЕМИУМ</a>
                                </div>
                            </div>
                        </td>
                        <td valign="top">
                            <div class="col-8" style="">
                                <div class="tab-content" id="nav-tabContent">
                                    <div id="personal-data-tabpanel">
                                        <form action="/save-personal-data/" id="personal-data-form" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div>
                                                {% if user.profile.avatar %}
                                                <img id="avatar-upload" src="{{ user.profile.avatar }}" style="width:200px; height:200px; float:left; margin-left: 20px; margin-right: 20px"> 
                                                {% else %}
                                                <img id="avatar-upload" src="/static/includes/images/avatar-default.png" style="width:200px; height:200px; float:left; margin-left: 20px; margin-right: 20px"> 
                                                {% endif %}
                                                <input type="file" accept="image/*" class="custom-file-input" name="avatar" id="id_avatar">
                                            </div>
                                            <table class="data-table">
                                                <tr>
                                                    <td>
                                                        <div class="lwa-username">
                                                            <div>
                                                                <span class="input-group-text" id="basic-addon1">Имя:</span>
                                                                <br>
                                                                <input style="width: 200px" class="form-control" placeholder="Иван" type="text" name="first_name" autofocus required maxlength="50" id="id_first_name" value="{{ user.first_name }}">
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div>
                                                            <div>
                                                                <span class="input-group-text" id="basic-addon1">Фамилия:</span>
                                                                <br>
                                                                <input type="text" name="last_name" class="form-control" placeholder="Иванов" maxlength="50" required id="id_last_name" value="{{ user.last_name }}">
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div>
                                                            <div>
                                                                <span class="input-group-text" id="basic-addon1">Био:</span>
                                                                <br>
                                                                <input class="form-control" name="bio" id="id_bio" value="{{ user.profile.bio }}" />
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div>
                                                            <div>
                                                                <br>
                                                                <div id="save-data-status" style="color:red" hidden></div>
                                                                <br>
                                                                <input type="submit" id="save-data" value="Сохранить" tabindex="100" />
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </form>
                                    </div>

                                    <div id="settings-tabpanel" hidden>
                                        <table class="data-table">
                                            <tr>
                                                <td valign="top">
                                                    <form method="post" id="new_password_form">
                                                        {% csrf_token %}
                                                        <div class="username_input">
                                                            <input type="password" style="width:300px" name="new_password1" placeholder="Введите новый пароль" class="form-control" />
                                                        </div>
                                                        <br>
                                                        <div class="username_input">
                                                            <input type="password" style="width:300px" name="new_password2" placeholder="Введите новый пароль еще раз" class="form-control" />
                                                        </div>
                                                        <br>
                                                        <div id="password-errors" style="color:red"></div>
                                                        <input type="submit" value="Изменить пароль" id="password-button" style="width:200px;">
                                                    </form>
                                                </td>
                                                <td valign="top">
                                                    <form id="new-email-form" method="post">
                                                        <p> Ваш email: {{ user.email }} </p>
                                                        {% csrf_token %}
                                                        <div>
                                                            <div id="new-email">
                                                                <div>
                                                                    <input type="text" class="form-control" name="email" id="email-field" placeholder="Введите новый email" required />
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <div>
                                                                    <br>
                                                                    <div id="new-email-status" hidden></div>
                                                                    <input id="new-email-button" type="submit" value="Изменить email" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>

                                                </td>
                                            </tr>
                                        </table>
                                    </div>

                                    <div id="pay-in-tabpanel" hidden>
                                        <h2 style="color:green">Пополнить счет</h2>
                                        <form id="pay-in-form" method="post">
                                            <p> <b>Баланс:</b> {{ user.profile.balance }} RUB</p>
                                            {% csrf_token %}
                                            <div>
                                                <div id="pay-in-sum">
                                                    <div>
                                                        <input type="number" class="form-control" name="sum" id="pay-in-field" placeholder="Введите сумму пополнения" required style="width:300px" />
                                                    </div>
                                                </div>
                                                <div>
                                                    <div>
                                                        <br>
                                                        <div id="pay-in-status" hidden></div>
                                                        <input id="pay-in-button" type="submit" value="Пополнить" />
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div id="buy-premium-tabpanel" hidden>
                                    <h2 style="color:green">Купить ПРЕМИУМ</h2>
                                    {% if user.profile.is_premium %}
                                    <h2 style="color:green">У вас неограниченный доступ ко всему контенту.</h2>
                                    {% else %}
                                    <form id="pay-in-form" method="post" action="/buy-premium/">
                                        <p> <b>Баланс:</b> {{ user.profile.balance }} RUB</p>
                                        <p> <b>Стоимость:</b> {{ premium }} RUB</p>
                                        {% csrf_token %}
                                        <div>
                                            <div>
                                                <div>
                                                    <input id="pay-in-button" type="submit" value="Купить премиум" />
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

        </article>
    </div>
</div>
</div>
</section>

<script>
function readURL(input) {
if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function(e) {
        jQuery('#avatar-upload').attr('src', e.target.result);
    }

    reader.readAsDataURL(input.files[0]);
}
}

jQuery("#id_avatar").change(function() {
readURL(this);
});

/*jQuery("#save-data").on("click", function(i) {
jQuery("#save-data-status").hide();
i.preventDefault();
jQuery.ajax({
    type: "POST",
    url: '/save-personal-data/',
    data: {
        'form': jQuery("#personal-data-form").serialize(),
        'file': jQuery("#id_avatar").val(),
        'csrfmiddlewaretoken': jQuery("input[name=csrfmiddlewaretoken]").val(),
    },
    success: function(response) {
        if (response === "Success!") {
            jQuery("#save-data-status").show();
            jQuery("#save-data-status").css("color", "green");
            jQuery("#save-data-status").html("Успешно сохранено");
        } else {
            jQuery("#save-data-status").show();
            jQuery("#save-data-status").html("Произошла ошибка");
        }
    }
});
});
*/
jQuery("#password-button").on("click", function(i) {
jQuery('#password-errors').hide()
i.preventDefault();
jQuery.ajax({
    type: "POST",
    url: '/change-cabinet-password/',
    data: jQuery("#new_password_form").serialize(),
    success: function(response) {
        // do something with response
        if (response['result'] === "Success!") {
            jQuery("#password-errors").show();
            jQuery("#password-errors").css("color", "green");
            jQuery('#password-errors').html("Успешно сохранено");
        } else {
            jQuery('#password-errors').html(response["result"]);
            jQuery('#password-errors').show()
        }
    }
});
});

jQuery("#new-email-button").on("click", function(i) {
jQuery('#new-email-status').hide()
i.preventDefault();
jQuery.ajax({
    type: "POST",
    url: '/change-email/',
    data: jQuery("#new-email-form").serialize(),
    success: function(response) {
        if (response == "Success!") {
            jQuery("#new-email-status").show();
            jQuery("#new-email-status").css("color", "green");
            jQuery('#new-email-status').html("Активация была отправлена на указанный эмейл");
        } else {
            jQuery("#new-email-status").show();
            jQuery("#new-email-status").css("color", "red");
            jQuery('#new-email-status').html(response);
        }
    }
});
});

jQuery("#list-personal-data-list").on("click", function() {
jQuery("#settings-tabpanel").hide();
jQuery("#pay-in-tabpanel").hide();
jQuery("#buy-premium-tabpanel").hide();
jQuery("#personal-data-tabpanel").show("slow");

jQuery("#list-settings-list").removeClass("active");
jQuery("#list-pay-in-list").removeClass("active");
jQuery("#list-buy-premium-list").removeClass("active");
jQuery(this).addClass("active");
});

jQuery("#list-settings-list").on("click", function() {
jQuery("#pay-in-tabpanel").hide();
jQuery("#buy-premium-tabpanel").hide();
jQuery("#personal-data-tabpanel").hide();
jQuery("#settings-tabpanel").show("slow");

jQuery("#list-personal-data-list").removeClass("active");
jQuery("#list-pay-in-list").removeClass("active");
jQuery("#list-buy-premium-list").removeClass("active");
jQuery(this).addClass("active");
});

jQuery("#list-pay-in-list").on("click", function() {
jQuery("#buy-premium-tabpanel").hide();
jQuery("#personal-data-tabpanel").hide();
jQuery("#settings-tabpanel").hide();
jQuery("#pay-in-tabpanel").show("slow");

jQuery("#list-personal-data-list").removeClass("active");
jQuery("#list-settings-list").removeClass("active");
jQuery("#list-buy-premium-list").removeClass("active");
jQuery(this).addClass("active");
});

jQuery("#list-buy-premium-list").on("click", function() {
jQuery("#personal-data-tabpanel").hide();
jQuery("#settings-tabpanel").hide();
jQuery("#pay-in-tabpanel").hide();
jQuery("#buy-premium-tabpanel").show("slow");

jQuery("#list-personal-data-list").removeClass("active");
jQuery("#list-settings-list").removeClass("active");
jQuery("#list-pay-in-list").removeClass("active");
jQuery(this).addClass("active");
});
</script>


{% endblock %}