{% extends "includes/main_template.html" %}

{% block title %}Забыли пароль{% endblock %}

{% block content %}

<div class="row">
    <div class="col-xs-12 col-md-12">
        <article id="post-20" class="post-20 page type-page status-publish hentry">
            <h1>Восстановить пароль</h1>
            <form method="post" id="new_password_form">
                {% csrf_token %}
                <table>
                    <tr>
                        <label>Введите новый пароль</label>
                        <div class="username_input">
                            <input type="password" name="new_password1" class="input" />
                            <!-- need label -->
                        </div>
                    </tr>
                    <br>
                    <tr>
                        <label>Введите новый пароль еще раз</label>
                        <div class="username_input">
                            <input type="password" name="new_password2" class="input" />
                            <!-- need label -->
                        </div>
                    </tr>
                    <br>
                    <div id="password-errors" style="color:red"></div>
                </table>
                <input type="submit" value="Изменить пароль" id="password-button" style="width:200px">
                <input type="hidden" name="next">
            </form>
        </article>
    </div>
</div>


<script type="text/javascript">
    $("#password-button").on("click", function(i) {
        $('#password-errors').hide()
        i.preventDefault();
        $.ajax({
            type: "POST",
            url: '/user/{{ username }}/change-password/',
            data: $("#new_password_form").serialize(),
            success: function(response) {
                // do something with response
                if (response['result'] === "Success!") {
                    let url = "/";
                    $(location).attr('href', url);
                } else {
                    $('#password-errors').html(response["result"]);
                    $('#password-errors').show()
                }
            }
        });
    });
</script>

{% endblock %}